@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: rgb(38, 188, 172);
}
h1 {
  text-align: center;
  color: rgb(53, 51, 51);
  font-size: 36px;
  margin-bottom: 50px;
}
.game {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

  &__cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.4);
    border-right: 10px solid rgba(0, 0, 0, 0.4);
    border-radius: 3%;
    color: orange;
    font-size: 0px;

    &:nth-child(3n) {
      border-right: 10px solid transparent;
    }
    &:nth-child(n + 7) {
      border-bottom: 10px solid transparent;
    }
    .circle {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 80px;
      height: 80px;
      border: 10px solid rgb(53, 51, 51);
      border-radius: 50%;
    }
    .cross {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      height: 100px;

      &:before,
      &:after {
        position: absolute;
        top: 10px;
        left: 55px;
        content: " ";
        height: 100%;
        width: 10px;
        background-color: rgb(53, 51, 51);
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
  .line-through-hor {
    &:after {
      position: absolute;
      content: "";
      top: 55px;
      left: 0;
      width: 109%;
      height: 10px;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .line-through-ver {
    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 55px;
      width: 10px;
      height: 109%;
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
  .line-through-main-diag {
    &:after {
      position: absolute;
      content: "";
      top: -32px;
      width: 10px;
      height: 184px;
      background-color: rgba(0, 0, 0, 0.8);
      transform: rotate(-45deg);
    }
  }
  .line-through-rev-diag {
    &:after {
      position: absolute;
      content: "";
      top: -32px;
      width: 10px;
      height: 184px;
      background-color: rgba(0, 0, 0, 0.8);
      transform: rotate(45deg);
    }
  }
}
button {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
  border-radius: 7px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgb(4, 158, 143);
}
